body {
    background-color: #F8F2E3;
}

/* HEADER */
.navbar {
    background-color: #382f26;
}

.logo-header {
    width: 50px;
    height: auto;
}

/* FOOTER */
.footer {
    background-color: #382f26;
    width: 100vw;
    height: 70px;
    position: fixed;
    bottom: 0;
}